body {
  background: linear-gradient(-65deg,#000,#222,#000,#666,#222 75%);
}

.container-fluid {
  background: linear-gradient(-65deg,#000,#222,#000,#666,#222 75%);
  display: flex;
  justify-content: center;
}

h1 {
  color: white;
  text-align: center;
}


.footer {
  background: linear-gradient(-65deg,#000,#222,#000,#666,#222 75%);
  color: white;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.piano {
  background: linear-gradient(-65deg,#000,#222,#000,#666,#222 75%);
  border-top: .8rem solid #282828;
  -webkit-box-shadow: inset 0 -1px 1px hsla(0,0%,100%,.5), inset -0.4rem 0.4rem #282828;
  box-shadow: inset 0 -1px 1px hsla(0,0%,100%,.5), inset -0.4rem 0.4rem #282828;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 5%;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.piano-key {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0 .1rem;
  max-width: 8.8rem;
  position: relative;
}

.piano-key__white {
  background: linear-gradient(-30deg,#f8f8f8,#fff);
  -webkit-box-shadow: inset 0 1px 0 #fff, inset 0 -1px 0 #fff, inset 1px 0 0 #fff, inset -1px 0 0 #fff, 0 4px 3px rgba(0,0,0,.7), inset 0 -1px 0 #fff, inset 1px 0 0 #fff, inset -1px -1px 15px rgba(0,0,0,.5), -3px 4px 6px rgba(0,0,0,.5);
  box-shadow: inset 0 1px 0 #fff, inset 0 -1px 0 #fff, inset 1px 0 0 #fff, inset -1px 0 0 #fff, 0 4px 3px rgba(0,0,0,.7), inset 0 -1px 0 #fff, inset 1px 0 0 #fff, inset -1px -1px 15px rgba(0,0,0,.5), -3px 4px 6px rgba(0,0,0,.5);
  height: 100%;
  position: relative;
}

.brightness {
    background-color: yellow;
    display: inline-block;
}

.piano-key__black {
  background: linear-gradient(-20deg,#222,#000,#222);
  -webkit-box-shadow: inset 0 -1px 2px hsla(0,0%,100%,.4), 0 2px 3px rgba(0,0,0,.4);
  box-shadow: inset 0 -1px 2px hsla(0,0%,100%,.4), 0 2px 3px rgba(0,0,0,.4);
  border-width: .2rem .4rem 1.2rem;
  border-style: solid;
  border-color: #666 #222 #111 #555;
  height: 60%;
  left: 100%;
  position: absolute;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 0;
  width: 70%;
  z-index: 1;
}
